body {
    font-family: 'DM Sans';
}

.logo {
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-bottom: -50px;
}

.logo img {
    width: 100%;
    height: auto;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 30px 0;
}

.info-box {
    width: 350px;
    padding: 20px;
    border: 1px solid;
    border-color: black;
    margin-left: 10px;
}

.button-row {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin-bottom: 0px;
  }

.button-row a {
    color: black;
    font-size: 20px;
}

.button-row a:hover {
    color: #5a5a5a;
  }

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

 .latest-releases {
    width: 80%;
    padding: 10px;
  }
  
  .latest-releases h2 {
    margin-bottom: 15px;
  }
  
  .album-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
  
  .album-grid a {
    display: block;
  }
  
  .album-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s;
  }
  
  .album-grid img:hover {
    transform: scale(1.05);
  }
 
  .media-section{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

 .media-section img{
  width: 80%;
  height: auto;
  padding: 10px;
 }
 .media-section iframe{
    padding: 10px;
    border: 0;
    height: 50%;
    width: 400%;
 }

 .info-box2{
    width: 1200px;
    padding: 20px;
    border: 1px solid;
    border-color: black;
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}


  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

.info-box3{

    width: 1800px;
    padding: 20px;
    border: 1px solid;
    border-color: black;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
}
.info-box3 p{
    font-size: 20px;
}
